
@font-face { 
	font-family: "Benne";
	src: url('../font/Benne-Regular.woff2') format('woff2'), 
	url('../font/Benne-Regular.woff') format('woff');
} 
@font-face {
	font-family: "OpenSans";
	src: url('../font/OpenSans-Regular.woff2') format('woff2'),
	url('../font/OpenSans-Regular.woff') format('woff');

}
@font-face {
	font-family: "Kaisei";
	src: url('../font/KaiseiHarunoUmi-Regular.woff2') format('woff2'),
	url('../font/KaiseiHarunoUmi-Regular.woff') format('woff');
}

:root {
	background-color: #0d3b40;
	foreground-color: #0d3b40;
	color: #dbf9ff;
	font-size: 1em;
	font-family: OpenSans;
}

aside {
	position: fixed;
	background-color: #0d3b40;
	color: #dbf9ff;
	border: 0.1rem solid #dbf9ff;

	font-family: Benne;
	font-size: 1.5em;
	text-align: left;

}
aside picture img {
}
aside ul {
	list-style-type: none;
}
aside ul li {
	margin: 1rem;
}
aside a:link, aside a:visited {
	color: #dbf9ff;
	text-decoration: none;
}
/* add animations here later */
aside a:hover {
	text-decoration: underline dotted;
}

.main {
	position: absolute;
	margin-left: 320px;
	margin-right: 20px; 
	text-align: center;
}

a:link {
	color: #fad39d;
}
a:visited {
	color: #cf80b2;
}

.header {
	font-family: Benne;
}

img {
	border: 0.25rem double #dbf9ff;
}

.homebanner {
	position: relative;
	border: 0.25rem solid #dbf9ff;
	width: 840px;
	margin-left: auto;
	margin-right: auto;
}
.homebanner h1 {
	font-size: 2.25em;
}
.homebanner img {
	margin-top: 1rem;
	width: auto;
}

.post {
	border: 0.1rem solid #dbf9ff;
	margin: 3rem;
}
.post h2 {
	font-size: 2em;
	text-align: left;
	padding-left: 2em;
}
.post h2 time {
	float: right;
	padding-right: 2em;
}
.post h2 + p {
	border-top: 2px dotted;
}
.post p {
	text-align: left;
	font-size: 1.5em;
	overflow-y: hidden;

	padding: 1rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.error {
	margin: 0;
	text-align: center;
	font-size: 1.5em;
}
