
@font-face { 
	font-family: "Benne";
	src: url('../font/Benne-Regular.woff2') format('woff2'), 
	url('../font/Benne-Regular.woff') format('woff');
} 
@font-face {
	font-family: "OpenSans";
	src: url('../font/OpenSans-Regular.woff2') format('woff2'),
	url('../font/OpenSans-Regular.woff') format('woff');

}
@font-face {
	font-family: "Kaisei";
	src: url('../font/KaiseiHarunoUmi-Regular.woff2') format('woff2'),
	url('../font/KaiseiHarunoUmi-Regular.woff') format('woff');
}

:root {
	background-color: #dbf9ff;
	foreground-color: #dbf9ff;
	color: #0d3b40;
	font-size: 1em;
	font-family: OpenSans;
}

.header {
	font-family: Benne;
}

body {
	display: grid;
	grid-template: 10% 90% / 20% 80%;
}

.main {
	grid-column: 2;
	text-align: center;
}

h1 {
	grid-row: 1;
	font-size: 3em;
}

h1 + picture {
	background-image(images/dark_dither_it_futta2307.png);
}

aside {
	grid-column: 1;
	grid-row: 1 / -1;
	background-color: #0d3b40;
	color: #dbf9ff;

	font-family: Benne;
	font-size: 1.5em;
	text-align: center;
	margin: 1rem;

}
aside picture img{
	width: 90%;
}
aside ul {
	padding: 2% 1%;
	list-style-type: none;
}
aside ul li {
	margin: 1rem;
}
aside a:link, aside a:visited {
	color: #dbf9ff;
	text-decoration: none;
}
/* add animations here later */
aside a:hover {
	text-decoration: underline dotted;
}
